.App {
  text-align: center;
  background-color: rgb(32, 133, 32);
}

@font-face {
  font-family: "Heart Breaking Bad";
  src: url('fonts/HeartBreakingBad-zG0w.ttf') format('truetype');
}

h1{
  font-family: 'Heart Breaking Bad';
  font-size: 80px;
  padding-top: 50px;
  display: inline-block;

}

.logoImage{
  width: 20%;
  height: 10%;
  margin: 30px;
  display: inline-block;
  border-radius: 50%;
  
}


.Character {
  border: 1px;
  border-color: black;
  border-style:groove;
  font-size: 20px;
  padding: 2px;
}

.img{
  width: 180px;
  height: 200px;
}

button{
  color:black;
  background-color: white;
  font-size: 15px;
  padding:5px;
  margin-bottom: 5px;

}
a:link{     
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none;
  color: black; 
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  border:1.5px;
}

.grid-item {
  background-color: rgba(14, 122, 32, 0.8);
  border: 1.5px solid rgba(0, 0, 0, 0.8);
  padding: 8px;
  font-size: 30px;
  text-align: center;

}

.characterName {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  border:1px solid;
  border-color: black;
  font-family:'Courier New', Courier;
  font-size: 20px;

}

