.App {
  text-align: center;
  background-color: rgb(32, 133, 32);
  /* background: linear-gradient(to right, rgb(43, 134, 43), rgb(13, 65, 9), rgb(7, 71, 7)); */
}

/* @font-face {
  font-family: "Heart Breaking Bad";
  /* src: local('Heart Breaking Bad'), url(.fonts/HeartBreakingBad-zGOw.tff); */
/* } */
h1{
  font-family: 'Righteous';}
  
img{
  width: 100px;
  height: 50px;
}

.Character th, td{
  border: 2px;
  border-color: black;
  border-style:groove;
  font-size: 20px;
  padding: 2px;
}

.Photo{
  width: 110px;
  height: 150px;
}

a:link{     
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none;
  color: black; 
}

a:hover { 
  text-decoration: none; 
  color: black;
}

a:active { 
  text-decoration: none; 
  color: black;

}
